html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #16a085;
}

.row {
    display: block;
    height: 40px;
    text-align: center;
    position: relative;
    padding: 0px;
}

.button--left{
	width: 40px;
	height: 40px;
	background-color: white;
	position: absolute;
	left: 18px;
}

.button--right{
	width: 40px;
	height: 40px;
	background-color: white;
	position: absolute;
	right: 18px;
}

.preview-box {
    box-sizing: border-box;
    padding: 30px;
    display: block;
    background: transparent;
    border: 3px white solid;
    color: white;
    font-size: 20px;
    border-top-color: transparent;
}

.preview-box span {
}

.absolute-centering {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
    position: absolute;
    height: 200px;
    background: red;
}

.btn-default {
	color: black;
	background-color: white;
}

/*body {
	background-color: #334D5C;
}

riddle {
	color: white;
	font-size: 20px;
	line-height: .9;
	border: 3px white;
	padding: 20px;
	border-style: solid;
}

.boxed {
	border: 1px white;
}

#riddlediv {
	height:20vh;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}*/

/*#2ecc71*/