body {
	background-color: #334D5C;
}

riddle {
	color: white;
	font-size: 20px;
	line-height: .9;
	border: 3px white;
	padding: 20px;
	border-style: solid;
}

.boxed {
	border: 1px white;
}

#riddlediv {
	height:20vh;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

/*#2ecc71*/